.admin-dashboard-layout {
	display: flex;
	flex-direction: column;
	height: 100vh;
	overflow: hidden;
}

.admin-dashboard-body {
	display: flex;
	flex: 1;
	height: 100%;
	overflow: hidden;
}

.admin-dashboard-content {
	position: relative;
	isolation: isolate;
	flex: 1;
}