@media (prefers-color-scheme: dark) {

}

.attorney-module-main-container {
    font-family: "EB Garamond", Georgia, serif;
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 450px;
    min-width: 450px;
    /* background-color: rgb(188, 182, 182); */
    background-image: 
    linear-gradient(to bottom, rgba(255, 255, 255, 0) 75%, rgba(128, 128, 128, 0.25) 100%),
    url(https://github.com/BaretzBrunelle-AI/BB-CDN/blob/main/attorney_shortlist/other/medium.jpg?raw=true);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 15px;
    margin: 5px;
    border-radius: 5px;
}

.basics-main-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.basics-hemisphere-one {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding-left: 10px;
}

.basics-hemisphere-two {
    font-size: small;
    max-height: fit-content;
    padding-right: 10px;
}

.basics-attorney-name-links {
    display: flex;
    flex-direction: column;
}

.attorney-name {
    font-weight: bold;
    color: black;
    text-align: center;
}

.attorney-jd-year {
    color: black;
    font-weight: bold;
    font-size: small;
    text-align: center;
}

.attorney-links {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.attorney-image-main-container {
    display: flex;
    border-radius: 50%;
    overflow: hidden;
    max-width: 55px;
    max-height: 55px;
    margin-top: 10px;
}

.attorney-headshot {
    width: 100%;
    height: 100%;
}

.attorney-linkedin {
    max-width: 25px;
}

.attorney-website {
    max-width: 25px;
}

.summary-main-container {
    font-size: smaller;
    font-weight: 500;
    max-height: 100px;
    overflow: scroll;
    background-color: rgb(220, 220, 220);
    color: black;
    padding: 10px;
    border-radius: 3px;
    text-align: center;
}

.basics-hemisphere-two div {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.attorney-location, 
.attorney-current-workplace, 
.attorney-phone-number, 
.attorney-email {
    display: flex;
    align-items: center;
    font-weight: 500;
    color: black;
    justify-content: flex-end;
}

.attorney-location-icon, 
.attorney-work-icon, 
.attorney-phone-icon, 
.attorney-email-icon {
    max-width: 15px;
    max-height: fit-content;
}

.tags-main-container {
    max-height: 20px;
    display: flex;
    flex-direction: row;
    text-wrap: wrap;
    overflow: hidden;
    gap: 5px;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}

.tags-main-container-reveal {
    max-height: fit-content;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
    align-items: center;
    justify-content: center;
}

.attorney-tag {
    max-width: fit-content;
    font-size: x-small;
    color: black;
    font-weight: 600;
    background-color: rgb(180, 180, 180);
    text-wrap: nowrap;
    padding: 2px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 8px;
}

.attorney-tag-toggle {
    max-width: fit-content;
    font-size: x-small;
    color: black;
    font-weight: bold;
    background-color: rgb(57, 143, 255);
    text-wrap: nowrap;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 10px;
    color: white;
    font-weight: 900;
}