:root {
    --input-background-color: rgb(93, 93, 93);
    --input-placeholder-color: white;
    --form-background-color: grey;
    --text-color: white;

}

@media (prefers-color-scheme: dark) {
    :root {
        --input-background-color: rgb(62, 62, 62);
        --input-placeholder-color: rgb(198, 198, 198);
        --text-color: white;
    }
}

.login-container {
    display: flex;
    flex-direction: column;
    height: 90vh;
    width: 100%;
    align-self: center;
    justify-content: center;
    align-items: center;
}

.login-page-title {
    padding-bottom: 10px;
}

.login-form, .invite-form, .register-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: var(--form-background-color);
    padding: 10px;
    box-shadow: 5px 5px rgb(9, 9, 110);
}

.login-button, .invite-button, .register-button{
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: bolder;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
    color: var(--text-color);
}

.login-button:hover, .invite-button:hover {
  border-color: #646cff;
}

.login-button:focus,
.login-button:focus-visible,
.invite-button:focus,
.invite-button:focus-visible{
  outline: 4px auto -webkit-focus-ring-color;
}

.login-page-title {
    font-weight: bolder;
    font-size: xx-large;
}

.page-message {
    display: flex;
    padding: 10px;
    font-size: small;
    justify-content: center;
    font-weight: 500;
}

.back-to-login-label, .register-label {
    padding: 10px;
    font-size: small;
    font-weight: bold;
}

.back-to-login-label:hover, .register-label:hover {
    padding: 10px;
    font-size: small;
    font-weight: bold;
    color: lightskyblue;
}

#email-input, 
#password-input, 
#code-input, 
#creationkey-input, 
#name-input {
    min-width: 355px;
    min-height: 20px;
    padding: 2px;
    border: none;
    border-radius: 3px;
    background-color: var(--input-background-color);
}

#email-input::placeholder, 
#password-input::placeholder, 
#code-input::placeholder, 
#creationkey-input::placeholder, 
#name-input::placeholder {
    color: var(--input-placeholder-color);
    font-weight: bold;
    padding-left: 5px;
}

#email-input::-webkit-input-placeholder, 
#password-input::-webkit-input-placeholder, 
#code-input::-webkit-input-placeholder,
#creationkey-input::-webkit-input-placeholder,
#name-input::-webkit-input-placeholder {
    color: rgb(198, 198, 198);
}