.navbar-admin-buttons-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
    background-color: rgb(55, 55, 55);
    margin-top: -10px;
    padding: 10px 5px;
}

.navbar-project-selection-container {
    display: flex;
    flex-direction: column;
    position: relative;
}

.navbar-admin-project-nav-open,
.navbar-admin-project-nav-closed {
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    text-wrap: nowrap;
    padding: 1px 5px;
    border-radius: 5px;
    color: rgb(22, 22, 22);
    gap: 5px;
    align-items: center;
    min-width: 130px;
    cursor: pointer;
}

.navbar-admin-project-nav-open:hover,
.navbar-admin-project-nav-closed:hover {
    background-color: rgb(149, 48, 167);
    color: white;
}

.navbar-project-dropdown {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    display: none;
    background-color: white;
    border: 1px solid #ccc;
    flex-direction: column;
    align-items: center;
    min-width: 130px;
    z-index: 10;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar-project-item {
    justify-self: center;
    width: 100%;
    padding: 5px 0;
    text-align: center;
    font-size: small;
    cursor: pointer;
    color: black;
    white-space: nowrap;
}

.navbar-project-item:hover {
    background-color: rgb(149, 48, 167);
    color: white;
    font-weight: bold;
}

.navbar-admin-upload-container {
    background-color: whitesmoke;
    display: flex;
    flex-direction: row;
    text-wrap: nowrap;
    padding: 1px 5px;
    border-radius: 5px;
    color: rgb(22, 22, 22);
    gap: 5px;
    align-items: center;
}

.navbar-admin-upload-container:hover {
    background-color: rgb(149, 48, 167);
    color: white;
}

.navbar-download-img {
    max-height: 20px;
    cursor: pointer;
}

.navbar-project-hover-wrapper {
    position: relative;
    display: inline-block;
}

.navbar-project-hover-wrapper:hover .navbar-project-dropdown {
    display: flex;
}