:root {
  font-family: "EB Garamond", Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --prussian-blue: #223244ff;
  --silver-lake-blue: #5b89bbff;
  --blue-gray: #6497ceff;
  --powder-blue: #91accaff;
  --paynes-gray: #556e8bff;
  --slate-gray: #7e8da0ff;
  --davys-gray: #53555bff;
  --onyx: #3b3c40ff;
  --white-smoke: #f4f5f5ff;
  --timberwolf: #d5d5d7ff;
}

body {
  width: 100%;
  margin: 0px;
}